body{
    margin: 0;
    padding: 0;
    font-family: 'Conv_Roboto-Regular';
    font-size: 14px;
}
a{
	text-decoration: none;
}
.container{
	width: 962px;
	margin: 0 auto;
}
.clear-both{
	clear: both;
}
header{
	background: #f2f2f2;
}
#header-top{
    text-align: right;
    padding: 40px 0 20px 0;
}
#header-top span{
    margin-left: 40px;
}
#header-top span img{
    margin-right: 10px;
} 
#header-left{
	float: left;
	width: 50%;
}	
#header-right{
	float: left;
	width: 50%;
}
#header-bottom{
	padding-bottom: 90px;
}
#header-link a{
	line-height: 38px;
}
#cart-link{
	border-right: 1px solid #e0e0e0;
    display: inline-block;
    padding-right: 30px;
}
#cart-link img{
	vertical-align: middle;
}
#login-link{
    font-family: 'Conv_Roboto-Bold';
    color: #000;
    text-transform: uppercase;
    margin: 0 15px;
    text-decoration: underline;
}
_#register-link{
    font-family: 'Conv_Roboto-Bold';
    background: #ed2c22;
    display: inline-block;
    color: #FFF;
    text-transform: uppercase;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #ce705f;
}
#register-link img{
    vertical-align: middle;
}
#header-link{
    float: right;
    border: 1px solid #FFF;
    padding: 10px;
    border-radius: 5px;
}